/******* Orokorrak *******/
.reveal {
  font-family: 'Open Sans', sans-serif;
  /******* Nabigazioko geziak *******/ }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Montserrat', sans-serif; }
  .reveal h1 {
    font-size: 48px;
    text-shadow: none; }
  .reveal h2 {
    font-size: 36px; }
  .reveal h3 {
    font-size: 24px; }
  .reveal h4 {
    font-size: 20px; }
  .reveal ul {
    text-align: left;
    width: 600px;
    margin: 0 auto; }
    .reveal ul li {
      list-style-type: none;
      background-image: url(../../img/basurdea.png);
      background-repeat: no-repeat;
      background-size: 30px;
      line-height: 30px;
      padding-left: 40px;
      padding-bottom: 30px;
      font-size: 20px; }
    .reveal ul ul {
      margin-left: 75px;
      width: calc(100% - 75px); }
  .reveal a {
    color: #B3BA33;
    text-decoration: none; }
    .reveal a:hover img {
      background: none;
      border-color: none;
      box-shadow: none; }
  .reveal strong {
    font-weight: bold; }
  .reveal iframe {
    margin-left: auto;
    margin-right: auto; }
  .reveal section img {
    background: none;
    border: none;
    box-shadow: none; }
  .reveal video {
    max-width: 100%; }
  .reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
    border-bottom-color: #B3BA33; }
  .reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #B3BA33; }
  .reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
    border-top-color: #B3BA33; }
  .reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #B3BA33; }
  .reveal section .azalpena {
    margin: 20px 0px 20px 0px; }
  .reveal section .konparazioa {
    margin-top: 60px; }
    .reveal section .konparazioa ul {
      width: 40%; }
    .reveal section .konparazioa ul:first-child {
      float: left; }
    .reveal section .konparazioa ul:last-child {
      float: right; }
  .reveal section.irudia-eskuinean > div > ul {
    float: left;
    width: 40%;
    margin-top: 50px; }
  .reveal section.irudia-eskuinean img {
    float: right;
    width: 40%;
    margin-top: 50px; }
  .reveal section.sarrera {
    height: 100%; }
    .reveal section.sarrera .izenburua {
      position: absolute;
      top: 410px; }
    .reveal section.sarrera .librezale {
      position: absolute;
      bottom: 50px;
      right: 0px;
      width: 400px; }
    .reveal section.sarrera .nork {
      position: absolute;
      top: 625px;
      font-weight: bold;
      font-size: 32px;
      text-align: left; }
      .reveal section.sarrera .nork .mastodon {
        margin-top: 5px; }
        .reveal section.sarrera .nork .mastodon a {
          color: #B3BA33;
          font-size: 28px; }
    .reveal section.sarrera .noiz {
      position: absolute;
      top: 670px;
      font-size: 26px; }
