
/******* Orokorrak *******/
.reveal {
    font-family: 'Open Sans', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
    }

    h1 {
        font-size: 48px;
        text-shadow: none;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    ul {
        text-align: left;
        width: 600px;
        margin: 0 auto;

        li {
            list-style-type: none;
            background-image: url(../../img/basurdea.png);
            background-repeat: no-repeat;
            background-size: 30px;
            line-height: 30px;
            padding-left: 40px;
            padding-bottom: 30px;
            font-size: 20px;
        }

        ul {
            margin-left: 75px;
            width: calc(100% - 75px);
        }
    }

    a {
        color: #B3BA33;
        text-decoration: none;

        &:hover img {
            background: none;
            border-color: none;
            box-shadow: none;
        }
    }

    strong {
        font-weight: bold;
    }

    iframe {
        margin-left: auto;
        margin-right: auto;
    }

    section img {
        background: none;
        border: none;
        box-shadow: none;
    }

    video {
        max-width: 100%;
    }

    /******* Nabigazioko geziak *******/
    .controls {
        .navigate-up, .navigate-up.enabled {
            border-bottom-color: #B3BA33;
        }
        .navigate-right, .navigate-right.enabled {
            border-left-color: #B3BA33;
        }
        .navigate-down, .navigate-down.enabled {
            border-top-color: #B3BA33;
        }
        .navigate-left, .navigate-left.enabled {
            border-right-color: #B3BA33;
        }
    }

    section {
        .azalpena {
            margin: 20px 0px 20px 0px;
        }

        .konparazioa {
            margin-top: 60px;

            ul {
                width: 40%;
            }
            ul:first-child {
                float: left;
            }
            ul:last-child {
                float: right;
            }
        }
        &.irudia-eskuinean {
            > div > ul {
                float: left;
                width: 40%;
                margin-top: 50px;
            }
            img {
                float: right;
                width: 40%;
                margin-top: 50px;
            }
        }
        &.sarrera {
            height: 100%;

            .izenburua {
                position: absolute;
                top: 410px;
            }
            .librezale {
                position: absolute;
                bottom: 50px;
                right: 0px;
                width: 400px;
            }
            .nork {
                position: absolute;
                top: 625px;
                font-weight: bold;
                font-size: 32px;
                text-align: left;

                .mastodon {
                    margin-top: 5px;

                    a {
                        color: #B3BA33;
                        font-size: 28px;
                    }
                }
            }
            .noiz {
                position: absolute;
                top: 670px;
                font-size: 26px;
            }
        }
    }
}
